.aboutDesc {
    margin-left: 20px;
    margin-right: 20px;
}

.icons {
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.twitterIcon {
    color: black;
    margin-right: 10px;
}

.instagramIcon {
    color: black;
}

.About a:hover {
    color: #B388EB;
}
