.wishlistBtn{
    color: #8093f1;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #8093f1;
}