.nav-space {
    background-color: #8093F1;
    margin-top: 20px;
}

.icon {
    position: absolute;
    right:10px;
    top: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.twitter {
    color: rgba(255,255,255,.5);
    margin-right: 10px;
}

.instagram {
    color: rgba(255,255,255,.5);
}

a:hover {
    color: #F4F4ED;
}
