.Home img {
    justify-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-width: 5;
}

.Home h3{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #B388EB;
}


.Home button{
    color: #8093f1;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #8093f1;
}

.logo {
    margin: 20px;
    width: 15%;
}
