.Search img{

    width: 200px;
    height: 200px;

}

.Search p{
    text-align: center;
    padding-bottom: 5px;

}

.Search #Searchtext {
    color: #B388EB;
    float: left;
    font-size: large;
}

.Search a{
    padding: 15px;
}

.Search p4{
    text-align: right;
    float: right;
    padding-right: 5%;
    padding-top: 50px;
    margin: auto;
    font-size: large;

}

.Search #middle-content{
    padding: 5px;
}

.Search #main-content{
    border: 5px solid #B388EB;
    margin-bottom: 5px;

}

.Search {
    padding-left: 50px;
    padding-right: 50px;
}

.Search button{
    color: #8093f1;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    margin-left: 11em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #8093f1;
}

.Search form {
    margin-left: 200px;
}

.Search input{
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #8093f1;
}