.Search img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    padding: 0px;
    
}

.Search section{
    border: 5px solid #8093f1;
}

.Search h1 {
    justify-content: left;
    font-size: large;
    color: #B388EB

}

.Search h3{
color: #B388EB;

}

.Search {
    padding-left: 50px;
    padding-right: 50px;
}

.Search button{
    color: #8093f1;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #8093f1;
}