
.SignUp {
    padding: 0px 60px 30px;
}

.SignUp form {
    margin: 0 auto;
    max-width: 320px;
    padding-bottom: auto;
}


links {
    display: flex;
    margin: auto;
	vertical-align: middle;
}

links a {
    margin: 20px 50px 10px 0px;
}

.loginbutton a:hover {
    color: violet;
    text-decoration: none;
}