.WishlistPreview img{
    border: 5px #8093f1;
    width: 150px;
    height: 150px;
    padding: 4px;
}

h4 {
  text-align: center;
  font-size: 16px;
}

.wishlistItem {
  text-align: center;
}

.removeBtn{
  color: #8093f1;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #8093f1;
}